<header class="headerWrapper">
    <div class="header">
        <div>
            <a href="/">
                <span class="terminal">{{ .Site.Params.user }}@{{ .Site.Params.hostname }} ~ $</span>
            </a>
        </div>
        <nav class="headerLinks">
            <ul>
                {{ range .Site.Menus.header }}
                <li>
                    <a href="{{ .URL | absURL }}" title="{{ .Title }}" >
                        ~/{{- .Name -}}
                    </a>
                </li>
                {{ end }}
                <li>
                    <a href="/" style="align-items: center; justify-content: center;">
                        <img style="width: 30px; height: 30px; border-radius: 15px; vertical-align: text-bottom;" src="/profile.png" alt="Home" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>