@import "../utils/variables";

* {
  scroll-behavior: smooth;
}

.content {
  text-align: center;
  margin: 0 auto;
  flex: 1 auto;
  padding: 20px;
  line-height: 1.5;

  @media only screen and (min-width: $breakLarge) {
    display: flex;
    width: $width;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
}

.code-wrapper {
  border-radius: 5px;
  margin: 5px 0 5px 0;
}

.code-summary {
  border-radius: 5px;
  padding: 10px;
  background-color: $backgroundDarker;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 3px solid $orange;
  transition: all 0.15s ease-in-out;
}

.code-summary:hover {
  background-color: $backgroundLighter;
  cursor: pointer;
}

.code-inner {
  border-radius: 5px;
}

@for $i from 1 through 6 {

  .postWrapper div h#{$i} .header-link {
    opacity: 0;
    transition: all 0.15s ease-in-out;
    color: $white;
    margin: 0;
    padding: 0;
    position: relative;
    left: 15px;
  }

  .postWrapper div h#{$i}:hover .header-link {
    opacity: 1;
  }
}